In [1]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
# - income statement
msft.income_stmt
msft.quarterly_income_stmt
# - balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# - cash flow statement
msft.cashflow
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders

# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
msft.option_chain()
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expirations are: [2023-09-01, 2023-09-08, 2023-09-15, 2023-09-22, 2023-09-29, 2023-10-06, 2023-10-20, 2023-11-17, 2023-12-15, 2024-01-19, 2024-02-16, 2024-03-15, 2024-06-21, 2024-09-20, 2025-01-17, 2025-06-20, 2025-09-19, 2025-12-19]

In [2]:
import yfinance as yf

tickers = yf.Tickers('msft aapl goog')

# access each ticker using (example)
tickers.tickers['MSFT'].info
tickers.tickers['AAPL'].history(period="1mo")
tickers.tickers['GOOG'].actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

In [3]:
print(tickers)

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [6]:
tickers.tickers[msft]

KeyError: yfinance.Ticker object <MSFT>

In [8]:
import yfinance as yf
from datetime import datetime

tsla = yf.Ticker("TSLA")

In [12]:
today = datetime.today().strftime('%Y-%m-%d')

In [44]:
# Get data of 10 recent years
df = tsla.history(period='10y')
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-09-03 00:00:00-04:00,11.560000,11.580000,11.093333,11.262667,180916500,0.0,0.0
2013-09-04 00:00:00-04:00,11.318000,11.441333,11.037333,11.374667,172135500,0.0,0.0
2013-09-05 00:00:00-04:00,11.340000,11.433333,11.216667,11.328667,100279500,0.0,0.0
2013-09-06 00:00:00-04:00,11.238000,11.313333,11.010000,11.131333,129295500,0.0,0.0
2013-09-09 00:00:00-04:00,10.874667,10.966667,10.567333,10.713333,215167500,0.0,0.0

In [45]:
df = df.reset_index()

In [46]:
# Removing HH:MM:ss in the Date feature
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

In [47]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2013-09-03,11.560000,11.580000,11.093333,11.262667,180916500,0.0,0.0
1,2013-09-04,11.318000,11.441333,11.037333,11.374667,172135500,0.0,0.0
2,2013-09-05,11.340000,11.433333,11.216667,11.328667,100279500,0.0,0.0
3,2013-09-06,11.238000,11.313333,11.010000,11.131333,129295500,0.0,0.0
4,2013-09-09,10.874667,10.966667,10.567333,10.713333,215167500,0.0,0.0